{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'wordbank/style.css' %}" />
<html>
<head>
<title>wordbank</title>
</head>
<body>
<h2>Add New Word</h2>
<form action="{% url 'wordbank:saveword' %}" method="POST">
{% csrf_token %}
Word : </br>
<input type="text" name="add_word"><br/>
Type : </br>
<input type="text" name="add_type" ><br/>
Meanning : </br>
<input type="text" name="add_mean"  ><br/>
Sample Sentence : </br>
<input type="text" name="add_sentence"  ><br/>


<input type="submit" name= "submit" value="submit" />

</form>
{{error}}
<a href="{% url 'wordbank:home_page'  %}">back</a>
</body>
</html>

