<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'wordbank/style.css' %}" />
<html>
<head>
<title>WordBank</title>
<h1>AllWord</h1>
</head>
<body>
{% if all_word_list %}
    {% for word in all_word_list %}
<<<<<<< HEAD

       <h3><a href="{% url 'wordbank:detail' word.word_text %}">{{ word.word_text }}</a></h3>      
=======
        <h3><a href="{% url 'wordbank:detail' word.word_text %}">{{ word.word_text }}</a></h3>      
>>>>>>> c9ac8ad379997f4687577a67bc675b3f4ebf5299
    {% endfor %}
    
{% else %}
    <p>No polls are available.</p>
{% endif %}
<body>
</html>

