<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'wordbank/style.css' %}" />
<html>
<head>
<title>WordBank</title>
<h1>WordBank</h1>
</head>
<ul>
<li><a class="active" href="{% url 'wordbank:allview' %}">All Word</a></li>
<li><a class="active" href="{% url 'wordbank:addword' %}">Add Word</a></li>
<li><a class="active" href="{% url 'wordbank:upload' %}">Upload CSV Word</a></li>
<li><a class="active" href="{% url 'wordbank:backup' %}">Backup With CSV</a></li>
<li><a class="active" href="{% url 'wordbank:backupxml' %}">Backup With XML</a></li>
<li><a class="active" href="{% url 'wordbank:uploadxml' %}">Upload With XML</a></li>
</ul>
<h2>Latest 5 Word</h2>
<body>
{% if top_5 %}
    
    {% for word in top_5 %}
       <p class= "one"><a href="{% url 'wordbank:detail' word.word_text %}">{{ word.word_text }}</a></p>      
    {% endfor %}
    
{% else %}
    <p>No polls are available.</p>
{% endif %}
<form action="{% url 'wordbank:searchword' %}" method="POST">
        {% csrf_token %}
            <tr><td><input type="text" name="searchword" size="20" style="height:35px" placeholder="  Search . . . ."/></td></tr>
            <tr><td align="center"><input type="submit" name="search" value="Search" style="width:100px; height:45px"/></td></tr>
        
    </form>
{{search}}

<h2>top search 5 :</h2>

{% for count in top_list_search %}
    
<b>{{count}}</b> ,{{count.word_count}}<br>

{% endfor %}
 
<h2>latest search 5 :</h2>
{% for latest in top_latest_search %}
    <b>{{latest}}</b>,{{latest.word_latest}}<br>

{% endfor %}
</body>
<html>


