<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'wordbank/style.css' %}" />
<html>
<head>
        <title>Detail</title>
</head>
<meta
http-equiv=”Content-Type” content=”text/html;
charset=UTF-8″>
<body>

<h1>{{ word.word_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% for detail in word.detail_set.all %}
    <p class="one">Type : {{ detail.type_text }}</p>
    <p class="one">Meanning : {{ detail.mean_text }}</p>
    <p class="one">Sample Sentence : {{ detail.sentence_text }}</p>
    <hr>    
    {% endfor %}


<a href="{% url 'wordbank:home_page'  %}">back</a>
</body>
</html>



