<!DOCTYPE html>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'wordbank/style.css' %}" />
<html>
<head>
<title>WordBank</title>
<h1>LoadCSV</h1>
</head>
<body>
<form action="{% url 'wordbank:loadcsv' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Select your file:
         <input type="file" name="csvFile" id="csvFile" ><br>
         <input type="submit" name="loadcsv" name ="submit"><br>
</form>
</body>
</html>
